--extra-index-url https://gitlab.internal.sanger.ac.uk/api/v4/projects/4318/packages/pypi/simple
tdutils==0.1.5
biopython==1.81
pandas==2.0.3
parameterized==0.9.0
pip==21.2.4
pycodestyle==2.10.0
pyfakefs==5.2.2
pyranges==0.0.129
requests==2.30.0
gffutils
